{# templates/admin/category_form.html.twig #} 
{% extends 'base.html.twig' %} {%
block title %}
{{ title }}
{% endblock %} {% block body %}
<div class="container ">
    <h2>{{ title }}</h2>
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    <button class="btn btn-primary mt-3">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_admin_category_list') }}" class="btn btn-secondary mt-3"
        >Retour à la liste</a
    >
</div>
{% endblock %}
