{# templates/ticket/index.html.twig #}

{% extends 'base.html.twig' %} 
{% block title %}Hello TicketController!{% endblock %} 
{% block body %}
<style></style>

{{ form_start(formulaire, {'attr' : {'novalidate':'novalidate', 'data-turbo': 'false'}}) }}

    {{ form_row(formulaire.email, {'attr': {'placeholder':'Mon adresse Email'}}) }}    

    {{ form_row(formulaire.description, 
        {'attr': {'placeholder':'Explication de mon problème ( entre 20 et 250 caractères)'}}) }}  

    {{ form_row(formulaire.categorie) }}

<button type="submit" class="btn btn-primary">Valider</button>
{{ form_end(formulaire) }}


{% endblock %}