{# templates/ticket/index.html.twig #}

{% extends 'base.html.twig' %}
{% block title %}Création de ticket
{% endblock %}
{% block body %}
	<style></style>
	<div class="container mb-4">
		<h2 class="my-4">Création de ticket</h2>

		{{ form_start(formulaire, {'attr' : {'novalidate':'novalidate', 'data-turbo': 'false'}}) }}

		{{ form_row(formulaire.email, {'attr': {'placeholder':'Mon adresse Email'}}) }}

		{{ form_row(formulaire.description, 
        {'attr': {'placeholder':'Explication de mon problème ( entre 20 et 250 caractères)'}}) }}

		{{ form_row(formulaire.categorie) }}

		<button type="submit" class="btn btn-primary">Valider</button>
		{{ form_end(formulaire) }}

	</div>


{% endblock %}
