{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"
        />
        {% block stylesheets %}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />
        {% endblock %} {% block javascripts %}
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        {% block importmap %}{{
            importmap("app")
        }}{% endblock %} {% endblock %}
    </head>
    <body>
        {# Permet que le header et le menu ne s'affiche pas sur la page de
        connexion #} 
        {% if app.request.attributes.get('_route') != 'app_login'%} 
        
        {# ========== HEADER ========== #}
        <header class="shadow">
            <div
                class="log d-flex justify-content-between align-items-end mx-auto w-75"
            >
                {# Titre du site #}
                <a href="{{ path('app_home') }}"
                    ><h1>Ticket <span>Page</span></h1></a
                >
                <div class="d-flex flex-column align-items-center">
                    {# Nom de l'utilisateur loggé #}
                    <p>{{ app.user ? app.user.email : "" }}</p>

                    {# Bouton de connexion ou deconnexion selon si un
                    utilisateur est connecté ou pas #} {% if app.user and
                    (is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')) %} {%
                    endif %} {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="text-decoration-none btn-link">( Se déconnecter )</a>

                    {% else %}
                    <a href="{{ path('app_login') }}"
                        ><span class="log">Se connecter</span></a
                    >
                    {% endif %}
                </div>
            </div>
            
            {# ========== NAVIGATION ========== #}
            <nav class="justify-content-center d-flex flex-fill m-3">
                <div class="container">
                    <ul class="nav nav-pills justify-content-center w-100">
                        <!-- Ajout de w-100 ici -->
                        <!-- Menu -->
                        {% if app.user and (is_granted('ROLE_ADMIN') or
                        is_granted('ROLE_USER')) %}
                        <li class="nav-item flex-fill mx-2">
                            <a
                                href="{{ path('app_admin') }}"
                                class="btn btn-primary w-100"
                                >Tableau de bord Admin</a
                            >
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        {% endif %}

        <div class="container mt-4">
            {% block body %} {# Boîte à message d'erreur ou de succès #} {% for
            label, messages in app.flashes %} {% for message in messages %}
            <div
                class="alert alert-{{
                    label == 'error' ? 'danger' : label
                }} p-2 my-2 small rounded mx-auto w-50"
                role="alert"
            >
                {{ message }}
            </div>
            {% endfor %} {% endfor %} {% endblock %}
        </div>
    </body>
</html>
